.as {
    font-weight: bold;
    color: black;
}

.emote {
    font-style: italic;
    font-weight: bold;
    background-color: #ffcc80;
    color: #ff6d00;
}

.desc {
    background-color: white;
    color: black;
    font-style: italic;
    font-weight: bold;
}

.think {
    background-color: #e0f7fa;
    color: #006064;
    font-style: italic;
    font-size: 80%;
}

.chat-view {
    overflow-y: scroll;
    max-height: 400px;
}

.chat-message {
    padding: 2px 12px 2px 12px;
    border: 1px solid #e0e0e0;
}

.chat-message.system {
    background-color: #ffe57f;
}

.roll {
    background-color: #ffeb3b;
    border: 1px solid #f9a825;
    padding: 0px 3px 0px 3px;
    color: black;
}

.chat-default {
    color: black;
    background-color: white;
    border: 1px solid #e0e0e0;
}

.chat-blue {
    color: #03a9f4;
    background-color: #03a9f4;
    border: 1px solid #01579b;
}

.chat-red {
    color: #ef5350;
    background-color: #ef5350;
    border: 1px solid #b71c1c;
}

.chat-green {
    color: #66bb6a;
    background-color: #66bb6a;
    border: 1px solid #1b5e20;
}

.chat-yellow {
    color: #ffee58;
    background-color: #ffee58;
    border: 1px solid #ffea00;
}

.chat-purple {
    color: #9575cd;
    background-color: #9575cd;
    border: 1px solid #311b92;
}

.chat-pink {
    color: #f06292;
    background-color: #f06292;
    border: 1px solid #f50057;
}

.chat-teal {
    color: #4db6ac;
    background-color: #4db6ac;
    border: 1px solid #00695c;
}

.chat-lime {
    color: #d4e157;
    background-color: #d4e157;
    border: 1px solid #c6ff00;
}

.chat-rust {
    color: #ff8a65;
    background-color: #ff8a65;
    border: 1px solid #bf360c;
}

.chat-brown {
    color: #795548;
    background-color: #795548;
    border: 1px solid #3e2723;
}

.chat-steel {
    color: #78909c;
    background-color: #78909c;
    border: 1px solid #263238;
}

.chat-grey {
    color: #bdbdbd;
    background-color: #bdbdbd;
    border: 1px solid #424242;
}

.chat-white {
    color: white;
    background-color: white;
    border: 1px solid black;
}

li.msg-color {
    color: black;
}

span.msg-color {
    border: none;
    background-color: inherit;
}

option.msg-color {
    color: black;
}

span.think {
    background-color: inherit;
}

.whisper {
    border: 2px solid #ff8f00;
}

.sheet-btn {
    min-height: 36px;
    width: 100%;
    text-decoration: none;
    color: black;
    border: 1px solid #9c27b0;
}