.as {
    font-weight: bold;
    color: black;
}

.chat-view {
    overflow: auto;
}

.chat-message {
    padding: 2px 12px 2px 12px;
    border: 1px solid #e0e0e0;
}

.chat-message.system {
    background-color: #ffe57f;
}

.roll {
    background-color: #ffeb3b;
    border: 1px solid #f9a825;
    padding: 0px 3px 0px 3px;
    color: black;
}

.chat-default {
    color: black;
}

.chat-blue {
    color: black;
    background-color: blue;
}

.chat-bluered {
    color: black;
    background-color: red;
}

.chat-green {
    color: black;
    background-color: green;
}

.chat-yellow {
    color: black;
    background-color: yellow;
}

.chat-purple {
    color: black;
    background-color: purple;
}