<h1 class="center">Create a Game</h1>
<form ng-submit="create()">
<div class="row">
    <div class="input-field col s12 m6 l4">
        <input type="text" length="140" ng-model="name" id="name" ng-class="{invalid:invalid.name}">
        <label for="name">Game Name</label>
    </div>
    <div class="input-field col s12 m6 l4">
        <select ng-model="system" class="browser-default" ng-class="{invalid:invalid.system}">
            <option value="none">Choose a Game System</option>
            <option ng-repeat="system in systems | orderBy : sortName" value="{{system.id}}">{{system.name}}</option>
        </select>
        <!-- <label>Game System</label> -->
    </div>
    <div class="input-field col s12 m6 l4">
        <select ng-model="sheet" class="browser-default" ng-class="{invalid:invalid.sheet}">
            <option value="none">Choose a Character Sheet</option>
            <option ng-repeat="sheet in sheets | orderBy : sortName" value="{{sheet.id}}">{{sheet.name}}</option>
        </select>
        <!-- <label>Character Sheet</label> -->
    </div>
</div>
<div class="row">
    <div class="input-field col s12 m12 l12">
        <textarea ng-model="description" id="description" class="materialize-textarea" ng-class="{invalid:invalid.description}"></textarea>
        <label for="description">Description</label>
    </div>
</div>
<div class="row">
    <div class="input-field col s12 m6 l4">
        <button type="submit" class="btn waves-effect waves-light purple">Create</button>
    </div>
    <div id="publicdesc" class="input-field col s12 m6 l4 tooltipped" data-position="bottom" data-delay="50" data-tooltip="{{publicText}}">
        <input type="checkbox" id="public" ng-model="public" checked="checked">
        <label for="public">This is a {{public == true ? 'public' : 'private'}} game</label>
    </div>
    <div class="input-field col s12 m6 l4">
        <button type="reset" class="btn waves-effect waves-light purple">Reset</button>
    </div>
</div>

<div id="confirm-modal" class="modal">
    <div class="modal-content">
        <h4>Warning!</h4>
        <p>You have not entered a description for you game! Do you want to create your game anyway?</p>
    </div>
    <div class="modal-footer">
        <a ng-click="yes()" class="modal-action waves-effect waves-green btn-flat">Yes</a>
        <a ng-click="no()" class="modal-action waves-effect waves-red btn-flat">No</a>
    </div>
</div>

<div id="rename" class="modal rename-modal">
    <div class="modal-content">
        <form ng-submit="renameTemplate()">
            <div class="input-field">
                <input type="text" ng-model="label.name" id="rename-input">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a ng-click="renameTemplate()" class="modal-action waves-effect waves-green btn-flat">Rename</a>
        <a ng-click="cancelRename()" class="modal-action waves-effect waves-red btn-flat">Cancel</a>
    </div>
</div>

<div id="customsheet" class="modal sheet-modal">
    <div class="modal-content">
        <!-- <h4>Custom sheets are not yet avaliable</h4> -->
        <div id="custom-sheet" class="row">
            <div id="character-sheet" class="col s7 m7 l7">
            </div>
            <div class="col s3 m3 l3 sheet-toolbar">
                <h6 class="center">Drag elements onto the sheet</h6>
                <draggable class="template injected" drag-template="true" destroy-y="{min:-16,max:746}" destroy-x="{min:0,max:746}" offset-x="0" offset-y="5" grid-x="20" grid-y="20" starting-y="5" starting-x="815"><label>Right Click to rename</label><textarea></textarea></draggable>
                <draggable class="template injected" drag-template="true" offset-x="0" offset-y="5" grid-y="20" grid-x="20" starting-y="60" starting-x="815"><label>Right Click to rename</label><input type="text"></draggable>
            </div>
            <div class="col s2 m2 l2 sheet-actions">
                <a ng-click="saveSheet()" class="waves-effect waves-light btn purple custom-btn">Save</a>
                <a ng-click="cancel()" class="waves-effect waves-light btn red custom-btn">Cancel</a>
                <a ng-click="reset()" class="waves-effect waves-light btn green custom-btn">Reset</a>
                <div class="input-field">
                    <input type="text" ng-model="custom.name">
                    <label>Sheet Name</label>
                </div>
                <div class="input-field">
                    <select ng-model="custom.system" class="browser-default" ng-class="{invalid:invalid.system}">
                        <option value="any">Any System</option>
                        <option ng-repeat="system in systems | orderBy : sortName" value="{{system.id}}">{{system.name}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>