<h1 class="center">{{game.name}}</h1>
<div class="row">
    <div class="col s1 m1 l1">
        <div class="row">
            <a href="/game/{{game.id}}/archive" class="waves-effect waves-purple btn-flat col s12 m12 l12">Archive</a>
        </div>
        <div ng-repeat="character in validSheets()" class="row">
            <a href="#" ng-click="view[character.id] = !view[character.id]" class="waves-effect waves-purple col s12 m12 l12 sheet-btn">{{character.name}}</a>
        </div>
    </div>
    <div class="col s11 m5 l3">
        <div id="chat-view">
            <ul id="chatWindow" class="chat">
                <li ng-repeat="msg in messages" class="chat-message {{msg.classes}}" ng-bind-html="msg.message">
                    <!-- chat message goes here -->
                </li>
            </ul>
        </div>
        <form ng-submit="sendChat()">
            <div class="row">
                <textarea ng-model="body" id="msg-body"></textarea>
            </div>
            <div class="row">
                <div class="col s4 m4 l4">
                    Chat as
                </div>
                <div class="col s8 m8 l8">
                <select ng-model="as" class="browser-default">
                    <option ng-repeat="(char, val) in characters" ng-if="val.player" value="{{char}}" class="chat-{{val.color}} msg-color">{{char}}</option>
                </select>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="btn waves-effect waves-light purple">Send</button>
            </div>
        </form>
    </div>
    <div class="col s12 m12 l4">
        <div ng-repeat="character in validSheets()" id="{{character.id}}" ng-show="view[character.id]" class="character-pane">
            <h5 class="center">{{character.name}}</h5>
            <div class="character-sheet">
                <div ng-repeat="elm in sheet.forms track by $index" style="left:{{elm[0]}};top:{{elm[1]}}">
                    <sheet-item edit="elm[2].form" display="elm[2].display" name="'C'+character.id+'.'+elm[2].name" toggle="edit[elm[2].name]"></sheet-item>
                    <div ng-hide="edit[character.id][elm[2].name]">
                        <a ng-click="toggleEdit(character.id,elm[2].name)" class="btn-floating waves-effect waves-light purple sheet-edit-btn"><i class="mdi-editor-mode-edit"></i></a>
                    </div>
                    <div ng-show="edit[character.id][elm[2].name]">
                        <a ng-click="submitEdit(character.id,elm[2].name)" class="btn-floating waves-effect waves-light purple sheet-edit-btn"><i class="mdi-action-done"></i></a>
                        <a ng-click="clear(character.id,elm[2].name)" class="btn-floating waves-effect waves-light purple sheet-edit-btn"><i class="mdi-content-clear"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-show="loading" class="loader valign-wrapper">
    <div class="progress valign">
      <div class="indeterminate"></div>
  </div>
</div>
<ul class="user-list">
    <li ng-repeat="u in users" class="user-list-item">{{u}}</li>
</ul>