<h1 class="center">{{game.name}}</h1>
<div class="row">
    <div class="col s12 m6 l4">
    </div>
    <div class="col s12 m6 l4">
        <div class="chat-view">
            <ul class="chat">
                <li ng-repeat="msg in messages" class="chat-message {{msg.classes}}" ng-bind-html="msg.message">
                    <!-- chat message goes here -->
                </li>
            </ul>
        </div>
        <form ng-submit="sendChat()">
            <div class="row">
                <textarea ng-model="body" id="msg-body"></textarea>
            </div>
            <div class="row">
                <select ng-model="as" class="browser-default">
                    <option value="{{user.username}}">{{user.username}}</option>
                    <option ng-repeat="char in characters" value="{{char.name}}">{{char.name}}</option>
                </select>
                <button type="submit" class="btn waves-effect waves-light purple">Send</button>
            </div>
        </form>
    </div>
</div>
<div ng-show="loading" class="loader valign-wrapper">
    <div class="progress valign">
      <div class="indeterminate"></div>
  </div>
</div>